$bg-light: #250858;
$bg-lighter: #2e1963;
$bg-lightest: #9b51e0;
$color-white: #fff;
$color-black: #000;
$gradient-light: #9b51e0;
$gradient-dark: #250858;
$link-color: #ad7930;
$modal-subheading: #212529;
$home-btn-border: #c89d67;
$normal-bg: #d5a54e;
